<div class="container">
	<div class="row">
		{{#each autos}}
		<div class="col col-lg-4 col-sm-12 mt-5">
			<div class="card">
				<img src={{Foto}} width="330" 
				height="290">
				<div class="card-body">
					{{nombre}}
				</div>
			</div>
		</div>

		{{/each}}
	</div>
</div>